.item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  
    background-color: #ffffff;
  
    cursor: pointer;
    color: black;
  }
  
  .item:not(:last-child) {
    margin-bottom: 25px;
  }
  
  .status {
    margin: 0 15px;
  
    display: inline-block;
  
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
  .online {

    background-color: #4caf50;
  }
  
  .offline {

    background-color: #f44336;
  }
  
  .avatar {
    width: 60px;
    margin-right: 10px;
  }
  
  .name {
    font-weight: 500;
  }