
.cell {
    padding: 15px 5px;
  
    text-transform: capitalize;
  
    transition: background-color 250ms linear;
  
    cursor: pointer;
  }
  
  .cell:hover,
  .cell:focus {
    background-color: #c9dcdf;
    transition: background-color 250ms linear;
  }
